<nav class="navbar navbar-dark bg-dark">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="/">Saved Articles</a>
        </div>
        <ul class="nav nav-center">
            <li class="nav-item"><a class="nav-link active" href="/">Home</a></li>
            <li class="nav-item"><a class="nav-link" href="/saved">Saved Articles</a></li>
            <li><a class="btn btn-danger scrape-new">SCRAPE NEW ARTICLES</a></li>
        </ul>
    </div>
</nav>
<div class="jumbotron text-center">
    <div class="overlay">

    </div>
    <div class="background-image">

    </div>
    <div class="caption">
        <h1>Saved Articles</h1>
        <p>Your Saved Articles</p>
    </div>
</div>
<div class="container article-container">

</div>

<footer class="footer">
    <div class="container">
        <p>News Mongo Scraper</p>
    </div>
</footer>

<script
  src="https://code.jquery.com/jquery-3.4.1.min.js"
  integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
  crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>
<script src="/assets/javascript/saved.js"></script>