body {
    margin-bottom: 80px;
    background-image: url('newpaper.jpg');
    background-attachment: fixed;
    font-family: 'Vidaloka', serif;

}

ul {
    text-align: center;
}
li {
    display: inline;
    float: none;
}
a {
    display: inline-block;
}

.nav-link {
    color: white;
}

.jumbotron {
    background-color: rgba(53, 52, 52, 0.8);
    color: white;
    height: 400px;
}

.article-container {
    background-color: rgba(53, 52, 52, 0.8);
    color: white;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgba(53, 52, 52);
    color: white;
    text-align: center;
}

button {
    z-index: 1;
    color: lightgoldenrodyellow!important;
    background-color: darkgray!important;
    margin: 5px;
}

.panel {
    padding: 10px;
    border: 1px solid whitesmoke;
    margin: 10px;
}

.caption {
    font-family: 'Playfair Display SC', serif!important;
    margin: auto;
    font-size: xx-large;
    vertical-align: middle;
}